@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

#latest-works {
    min-height: 150vh;
    background-color: #25262a;
    padding: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  .left-project {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .latest-work-title h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin: 0;
  }
  
  .latest-work-title p {
    font-size: 14px;
    color: #7c7d81;
    font-weight: 400;
    margin: 0;
  }
  
  .project-card {
    min-width: 35vw;
    min-height: 60vh;
    max-height: 80vh;
    background-color: #2d3037;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .project-card-1 {
    background: linear-gradient(180deg, #16191e, #252628);
  }
  
  .project-card-2 {
    background: linear-gradient(225deg, #2c2940, #5a4073);
  }
  
  .project-card-3 {
    background: linear-gradient(225deg, #01403A, #025951);
  }
  
  .project-card .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .project-card .title h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
  }
  
  .project-card .title .tech-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .project-card .title .tech-stack p {
    font-size: 12px;
    background-color: #7c7d8180;
    color: #fff;
    margin: 0 5px;
    padding: 5px;
    border-radius: 3px;
    max-height: 25px;
  }
  
  .project-card img {
    position: relative;
  }
  
  .project-img-1 {
    height: 50vh;
    top: 75px;
    left: 15px;
    object-fit: cover;
    transform: scale(1.4) rotate(-5deg);
    transition: 0.3s ease-in-out;
  }
  
  .project-card:hover .project-img-1{
    transform: scale(1.6) rotate(-5deg);
  }
  
  .project-img-2 {
    width: 20vw;
    height: 27vh;
    object-fit: cover;
    object-position: top;
    top: 100px;
    left: 150px;
    transform: scale(1.5);
    border-radius: 10px;
    box-shadow: -10px 10px 10px #00000080;
    transition: 0.5s ease;
  }
  
  .project-card:hover .project-img-2 {
    box-shadow: -20px 20px 20px #00000080;
  }
  
  .project-img-3 {
    width: 30vw;
    top: 50px;
    left: 75px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #00000040;
    transition: 0.5s ease;
  }
  
  .project-card:hover .project-img-3 {
    box-shadow: -20px -20px 20px #00000040;
  }
  
  .all-projects a {
    color: #64f4ac;
  }
  
  .all-projects a h3 {
    font-size: 26px;
  }
  
  .all-projects p {
    font-size: 14px;
    color: #7c7d81;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 26px;
  }
  